<div class="container">
  <div class="row mt-4">
    <div class="col-lg-4 mt-4">
      <div class="card card-profile mt-4">
        <div class="card-body text-center mt-4">
          <img class="card-profile-img rounded" src="https://github.com/Caidac-3301/spector/raw/master/src/public/assets/images/logo.png">
          <h3 class="mb-3">Spector</h3>
          <p class="mb-4">
            Log based AWS Lambda monitoring, tracing, error alerting and debugging.
          </p>
          <a href="https://github.com/Caidac-3301/spector" target="__blank" class="btn btn-outline-secondary btn-sm">
            <span class="fa fa-star"></span> Star
          </a>
        </div>
      </div>
      <div class="text-wrap mt-4 mb-2">
        <h4 class="text-center">Developers</h4>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="media">
            <span class="avatar avatar-xxl mr-5" style="background-image: url(https://avatars3.githubusercontent.com/u/14837582?s=460&v=4)"></span>
            <div class="media-body">
              <h4 class="m-0">Risabh Kumar</h4>
              <p class="text-muted mb-0">Developer</p>
              <ul class="social-links list-inline mb-0 mt-2">
                <li class="list-inline-item">
                  <a href="https://github.com/rahulpsd18" target="__blank" title="GitHub" data-toggle="tooltip">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/rahulpsd18" target="__blank" title="LinkedIn" data-toggle="tooltip">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="Twitter" data-toggle="tooltip">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="media">
            <span class="avatar avatar-xxl mr-5" style="background-image: url(https://github.com/Caidac-3301/spector/raw/master/src/public/assets/images/user.png)"></span>
            <div class="media-body">
              <h4 class="m-0">You</h4>
              <p class="text-muted mb-0">Wizard</p>
              <ul class="social-links list-inline mb-0 mt-2">
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="GitHub" data-toggle="tooltip">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="LinkedIn" data-toggle="tooltip">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" title="Twitter" data-toggle="tooltip">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <ul class="list-group card-list-group ml-2">
          <li class="list-group-item py-5">
            <div class="media">
              <div class="media-body">
                <div>
                  <strong>Open source alternative to monitor, debug and improve your Lambda Functions.</strong>
                  <br>
                  <br> Spector will make use of AWS APIs to fetch data from your AWS account and produce actionable metrics and
                  detailed data without the need of editing any code!
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item py-5">
            <div class="media">
              <div class="media-body">
                <div class="media-heading">
                  <small class="float-right text-muted">SOON</small>
                  <h5>Release Notes v1.0.0 🎉 🎊 🎉</h5>
                </div>
                <div>
                  <ul class="media-list ml-6">
                    <li class="media mt-4">
                      <div class="media-body">
                        <strong>Feature Name: </strong>
                        Feature explained
                      </div>
                    </li>
                    <li class="media">
                      <div class="media-body">
                        <strong>Feature Name: </strong>
                        Feature explained
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item py-5">
            <div class="media">
              <div class="media-body">
                <div class="media-heading">
                  <small class="float-right text-muted">4 Jul 2018</small>
                  <h5>Project Announced</h5>
                </div>
                <div>
                  <ul class="media-list ml-6">
                    <li class="media mt-4">
                      <div class="media-body">
                        <strong>Idea: </strong>
                        Idea explained
                      </div>
                    </li>
                    <li class="media">
                      <div class="media-body">
                        <strong>Plan Name: </strong>
                        Plan explained
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>